DEBUG=
REACT_APP_MAPBOX_TOKEN=
REACT_APP_AQ_ENDPOINT=

# endpoint for Google Sheet form submission
REACT_APP_EMAIL_FORM_URL=

# endpoint for Slack App form submission
REACT_APP_SLACK_FORM_SUBMISSION_URL=

# S3 URL segments for fetching Chicago AQ data
REACT_APP_S3_ENDPOINT_URL=https://s3.us-east-2.amazonaws.com
REACT_APP_S3_BUCKET_NAME=chicago-aq

# Uncomment & rebuild to use MinIO instead (for local development)
# REACT_APP_S3_ENDPOINT_URL=http://localhost:9000
